.banner {
    margin-bottom: 160px;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {

    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;


}
@media(max-width:715px) {
    .banner {
        margin: 0 auto 80px;
    }

}